.experts-section {
	padding: 1rem 0 3rem;
	position: relative;

	.experts {
		display: flex;
		gap: 1.5rem;
		justify-content: center;

		&__container {
			background: $light;
			display: flex;
			justify-content: flex-end;
			padding: 2rem 2rem 2rem 1rem;
			width: 50vw;
		} /* __container */

		&__info {
			width: calc(#{$max-width} / 2);
		} /* __info */

		.hash {
			@extend .display-title;

			background: $secondary-color;
			display: inline-block;
			font-size: 1.25rem;
			padding: 0.75rem 1rem 0.5rem;
			margin: 0 0 1.5rem;
		} /* .hash */

		&__title {
			@extend .display-title;

			font-size: 2.25rem;
			margin: 0 0 2rem;
		} /* __title */

		&__btns {
			display: flex;
			gap: 1.5rem;
			margin: 2rem 0 0;

			.download {
				align-items: center;
				background: none;
				border: none;
				cursor: pointer;
				display: flex;
				font-family: $main-font-bold;
				font-weight: bold;
				height: 2.5rem;
				transition: 0.3s;

				&:hover {
					opacity: 0.7;
				}
			} /* .download */
		} /* __btns */

		&__slider {
			width: 50vw;

			.experts-container {
				width: calc(#{$max-width} / 2);

				.experts-subtitle {
					font-family: $main-font-bold;
					font-size: 1.5rem;
					font-style: italic;
					font-weight: bold;
					margin: 0 0 1.5rem;
				}

				.carrousel {
					display: flex;
					gap: 1.5rem;
					overflow-x: hidden;
					white-space: nowrap;
					width: calc(#{$max-width} / 2);

					.expert-card {
						background: $light;
						display: flex;
						flex-direction: column;
						align-items: center;
						width: 40%;
						flex: 0 0 auto;

						&__image {
							height: 300px;
							margin: 0 0 1rem;
							position: relative;

							img {
								display: block;
								height: 100%;
								object-fit: cover;
								width: 100%;
							}

							&:after {
								background: linear-gradient(45deg, $primary-color, $secondary-color);
								content: '';
								height: 100%;
								left: 0;
								mix-blend-mode: screen;
								opacity: 0.6;
								position: absolute;
								top: 0;
								width: 100%;
							}
						} /* __image */

						&__name {
							font-family: $main-font-bold;
							margin: 0;
						} /* __name */

						&__position {
							margin: 0 0 1rem;
						} /* __position */

						&__company {
							filter: grayscale(1);
							width: 60px;
						} /* __company */
					} /* .exper-card */
				} /* .carrousel */
			} /* .experts-container */
		} /* __slider */
	} /* .experts */
} /* .experts-section */
