.experts-section {
	position: relative;

	.experts {
		display: flex;
		gap: 1.5rem;

		&__container {
			background: $light;
			display: flex;
			justify-content: flex-end;
			padding: 1.5rem 1.5rem 1.5rem 1rem;
		} /* __container */

		&__info {
			width: calc($max-width / 2);
		} /* __info */

		.hash {
			@extend .display-title;

			background: $secondary-color;
			font-size: 1.25rem;
			padding: 0.25rem 1rem;
		} /* .hash */

		&__title {
			@extend .display-title;

			font-size: 2.25rem;
		} /* __title */
	} /* .experts */
} /* .experts-section */
