.main-header {
	background: $dark;
	position: sticky;
	top: 0;
	z-index: 99;

	.promo-banner {
		background: $accent-color;
		padding: 0.75rem 2rem;
		transition: all 0.3s;

		&.closed {
			height: 0;
			overflow: hidden;
			padding: 0;
		}

		.inner-banner {
			align-items: center;
			display: flex;
			margin: 0 auto;
			max-width: $max-width;

			p {
				align-items: center;
				display: flex;
				flex-grow: 1;
				justify-content: center;
				margin: 0;
				text-align: center;

				.icon {
					color: $primary-color;
					margin: 0 1rem;
				}
			}

			.close-banner {
				background: none;
				border: none;
				cursor: pointer;
				font-family: sans-serif;
				font-size: 1.5rem;
				font-weight: bold;
				height: 1.5rem;
				line-height: 1;
			} /* .close-banner */
		}
	} /* .promo-banner */

	.header-wrapper {
		align-items: center;
		display: flex;
		gap: 1.5rem;
		justify-content: space-between;
		margin: 0 auto;
		max-width: $max-width;
		padding: 1rem;
		width: 100%;

		.brand-logo {
			margin: 0;
			width: 150px;

			a {
				color: $dark;
				display: inline-block;
				text-decoration: none;
				width: 100%;

				img {
					display: block;
					height: 100%;
					object-fit: contain;
					width: 100%;
				}
			} /* a */
		} /* .brand-logo */

		.navigation {
			display: flex;
			flex-grow: 1;
			justify-content: flex-end;

			@include tablet {
				display: none;
			}

			&__list {
				display: flex;
				align-items: center;
				list-style: none;
				margin: 0;
				padding: 0;
			} /* __list */

			&__link {
				margin: 0 0.5rem;
				padding: 0;

				a {
					display: inline-block;
					color: $light;
					padding: 0.5rem 0;
					text-decoration: none;
					text-transform: uppercase;
					letter-spacing: 0.1rem;
					font-size: 0.8rem;
					transition: 0.3s;

					&:hover {
						opacity: 0.7;
					}
				}
			} /* __link */
		} /* .navigation */
	} /* .header-wrapper */
} /* .main-header */
