.ready-section {
	padding: 6rem 1rem;

	.ready {
		text-align: center;
		margin: 0 auto;
		max-width: 800px;

		&__title {
			@extend .display-title;

			font-size: 2.25rem;
			font-size: clamp(1.75rem, 5vw, 2.25rem);
			margin: 0 0 2rem;
		} /* __title */

		&__subtitle {
			font-family: $main-font-bold;
			font-size: 1.75rem;
			margin: 0 0 1rem;
		} /* __subtitle */

		&__text {
			font-size: 1.25rem;
			margin: 0 0 2rem;
		} /* __text */
	} /* .ready */
} /* .ready-section */
