.tryal-section {
	background: $primary-color;
	padding: 0 1rem;

	.tryal-class {
		align-items: center;
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		max-width: $max-width;
		width: 100%;

		&__text {
			padding: 2rem 0;
			width: 50%;

			@include tablet {
				width: 70%;
			}

			@include phone {
				width: 100%;
			}

			h2 {
				@extend .display-title;

				font-size: 1.5rem;
				font-size: clamp(1.25rem, 3vw, 1.75rem);
				margin: 0 0 2.5rem;
			}

			p {
				font-size: 1.25rem;
				margin: 0;

				strong {
					font-family: $main-font-bold;
				}
			}
		} /* __text */

		&__image {
			width: 30%;

			@include phone {
				display: none;
			}

			img {
				display: block;
				height: 100%;
				object-fit: contain;
				width: 100%;
			}
		} /* __image */
	} /* .tryal-class */
} /* .tryal-section */
