<section class="hero-section" ng-include="'./includes/hero.html'"></section>

<section class="info-section" ng-include="'./includes/product-info.html'"></section>

<section class="experts-section" ng-include="'./includes/experts.html'"></section>

<section class="tryal-section" ng-include="'./includes/tryal-class.html'"></section>

<section class="pricing-section" ng-include="'./includes/pricing.html'"></section>

<section class="dates-section" ng-include="'./includes/dates.html'" id="dates"></section>

<section class="payments-section" ng-include="'./includes/payments.html'"></section>

<section class="testimonies-section" ng-include="'./includes/testimonies.html'"></section>

<section class="ready-section" ng-include="'./includes/ready.html'"></section>

<section class="faq-section" ng-include="'./includes/faq.html'"></section>
