// scrollbar styling
@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) {
	// Webkit
	&::-webkit-scrollbar {
		height: $size;
		width: $size;
	}

	&::-webkit-scrollbar-thumb {
		background: rgba($foreground-color, 0.7);

		&:hover {
			background: $foreground-color;
		}
	}

	&::-webkit-scrollbar-track {
		background: $background-color;
	}

	// Firefox
	scrollbar-color: $foreground-color $background-color;
}

// firefox targeting
@mixin firefox {
	@supports (-moz-appearance: none) {
		@content;
	}
}

// mediaqueries
@mixin tablet($width: 870px) {
	@media screen and (max-width: $width) {
		@content;
	}
}
@mixin phone($width: 640px) {
	@media screen and (max-width: $width) {
		@content;
	}
}
