<h4 class="experts-subtitle">Expertos que avalan este curso</h4>

<div class="carrousel">
	<div class="expert-card" ng-repeat="expert in experts">
		<div class="expert-card__image">
			<img ng-src="{{expert.profilePicture}}" alt="" />
		</div>
		<h5 class="expert-card__name">{{expert.name}}</h5>
		<p class="expert-card__position">{{expert.position}}</p>
		<img class="expert-card__company" ng-src="{{expert.companyLogo}}" alt="" />
	</div>

	<!-- repeat cards for slider effect -->
	<div class="expert-card" ng-repeat="expert in experts">
		<div class="expert-card__image">
			<img ng-src="{{expert.profilePicture}}" alt="" />
		</div>
		<h5 class="expert-card__name">{{expert.name}}</h5>
		<p class="expert-card__position">{{expert.position}}</p>
		<img class="expert-card__company" ng-src="{{expert.companyLogo}}" alt="" />
	</div>
</div>
