<header class="main-header">
	<div class="promo-banner">
		<div class="inner-banner">
			<p>
				<i class="icon ri-star-s-line"></i>
				<span
					>Semana del estudiante - del 21 al 25 de septiembre, 6 cuotas sin interesen cursos y
					carreras</span
				>
				<i class="icon ri-star-s-line"></i>
			</p>
			<button class="close-banner" ng-click="closeBanner($event)">
				<span>&times;</span>
			</button>
		</div>
	</div>

	<div class="header-wrapper">
		<h1 class="brand-logo">
			<a href="./">
				<img ng-src="{{brand}}" alt="CoderHouse" />
			</a>
		</h1>

		<nav class="navigation">
			<ul class="navigation__list">
				<li ng-repeat="link in links" class="navigation__link">
					<a href="{{link.url}}">{{link.text}}</a>
				</li>
			</ul>
		</nav>
		<button class="button--invert">Inscribite</button>
	</div>
</header>
