@font-face {
	font-family: 'Helvetica Light';
	font-style: normal;
	font-weight: 200;
	src: url('HelveticaNeue-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Helvetica Bold';
	font-style: normal;
	font-weight: 700;
	src: url('HelveticaNeue-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'gobold_bolditalic';
	font-style: normal;
	font-weight: bold;
	src: url('gobold_bold_italic-webfont.woff') format('woff');
}

@font-face {
	font-family: 'gobolditalic';
	font-style: normal;
	font-weight: bold;
	src: url('gobold_regular_italic-webfont.woff') format('woff');
}
