.heading-text,
.display-title {
	color: $dark;
	font-style: italic;
	text-transform: uppercase;
	letter-spacing: 0.05rem;
	line-height: 1.25;
	margin: 0 0 1rem;
} /* .heading-text, .display-title */

.heading-text {
	font-family: $header-font;
} /* .heading-text */

.display-title {
	font-family: $title-font;
} /* .display-title */

.bigger {
	font-size: 175%;
	line-height: 1.5;
} /* .bigger */

.with-padding {
	padding-left: 2rem;
} /* .with-padding */
